{% extends "base_generic.html" %} {% load bootstrap4 %} {% block content %}

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}

    <!-- <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table> -->
    {% bootstrap_form form %}
    <input class="boxed-btn3 w-100" type="submit" value="Create" />
</form>


{% endblock %}